/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */
header {
    height: 80px;
    /* debug */
    background-color: bisque;
}

/* main */
.jumbotron {
    background-color: #b4d0e7;
    height: 700px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

/* debug */
.abbonamento {
    background-color: darkgray;
    height: 600px;
}

.enterprise {
    background-color: darkblue;
    height: 600px;
}

.partner{
    background-color: darkslategrey;
    height: 600px;
}

.operazioni {
    background-color: darkkhaki;
    height: 600px;
}

.clienti {
    background-color: darkolivegreen;
    height: 600px;
}

.blocchi {
    background-color: darkorange;
    height: 600px;
}

.prova-gratis {
    background-color: #b4d0e7;
    height: 600px;
}

.faq {
    background-color: darkslateblue;
    height: 600px;
}

footer {
    background-color: black;
    height: 400px;
}

