/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-large {
    position: relative;
    bottom: -80px;
    width: 82%;
    max-width: 1200px;
    margin: 0 auto;
}

img {
    width: 100%;
    object-fit: cover; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 4.5em;
    line-height: 1.5em;
    padding: 1.5em 0 0.5em;
}

h2 {
    margin: 3em 0 1em;
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

.text {
    font-size: 0.8em;
}

/* bottoni */
.button {
    display: inline-block;
    text-align: center;
    padding: 0.5em 1.2em;
    font-size: 1em;
}

.btn-blue {
    background-color: #0061ff;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

/* header */
header {
    height: 80px;
    line-height: 80px;
}

nav {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 100;
}

.logo img {
    vertical-align: middle;
    width: auto;
}

.col {
    float: left;
    min-width: 10%;
}

.col-left {
    width: 40%;
    text-align: left;
}

.col-right {
    width: 40%;
    text-align: right;
} 

.btn {
    text-align: center;
    width: 10%;
}

.header-menu li {
    display: inline-block;
    height: 80px;
    margin: 0 0.5em;
}

.header-menu li:hover {
    cursor: pointer;
    border-bottom: 2px solid #0061ff;
}

header .button {
    display: inline;
}

/* jumbotron */
.jumbotron {
    background-color: #b4d0e7;
    
}

.j-float {
    float: left;
    width: 40%;
    padding-right: 2em;
}

main .container-large .button {
    margin: 2em 0 1em;
}

main .container-large img {
    width: 60%;
    float: left;
}

.fa-arrow-down {
    font-size: 2.5em;
    margin-top: 1em;
}

/* abbonamento */
.fatturazione li {
    display: inline-block;
    margin: 0 0.5em;
}

.abb-cln {
    float: left;
    border: 1px solid gray;
    margin-top: 3em;
    width: calc(92% / 3);
    min-height: 1000px;
}

.cln-top {
    width: 90%; 
    margin: 0 auto;
    padding: 1em;
    line-height: 2.2em;  
}

.abbonamento :nth-child(4) {
    margin: 3em 4% 0;
}

.nome-piano {
    text-align: center;
    vertical-align: middle;
    line-height: 2.5em;
    border-bottom: 1px solid gray;
}

.abb-enterprise {
    float: left;
    border: 1px solid gray;
    margin-top: 3em;
    width: 100%;
}

.abb-enterprise .cln-top {
    float: left;
    width: 65%;
}

.abb-enterprise a {
    float: left;
    margin-top: 1.5em;
    width: 30%;
}

/* partner */
.partner {
    margin-top: 7em;
}

.p-left {
    width: 55%;
    float: left;
}

.p-right {
    width: 45%;
    float: left;
    padding-top: 3em;
    padding-left: 3em;
}

.p-right p {
    margin: 2em auto;
}

.p-right .button {
    border: 1px solid black;
}

/* operazioni business */
.strumento {
    margin: 2em 0;
    position:relative;
    float: left;
    width: calc(92% / 3);
}

.str-center {
    margin: 2em 4% 0;
}

.op-top {
    float: left;
}

.op-bottom {
    float: left;
    margin-top: 1em;
}

.op-bottom p {
    margin-top: 2em;
}

/* clienti */
.clienti {
    padding-right: 20%;
    padding-bottom: 3em;
}

.clienti a {
    text-decoration: underline;
    color: #0061ff;
}


/* blocchi */
.blocchi {
    /* debug */
    background-color: darkorange;
    height: 600px;
}

/* prova-gratis */
.prova-gratis {
    /* debug */
    background-color: #b4d0e7;
    height: 600px;
}

/* faq */
.faq {
    /* debug */
    background-color: darkslateblue;
    height: 600px;
}

/* footer */
footer {
    background-color: black;
    /* debug */
    height: 400px;
}